<!doctype html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>

    <script th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" />
</head>
<body>
    <nav th:replace="~{commons/bars::topNavBar}"></nav>
    <div class="container">
        <form action="/views/advanceSearch" method="get">
            <div class="form-group">
                <label for="question_text">请输入问题</label>
                <input type="text" class="form-control" id="question_text" name="question_text"  placeholder="请输入问题" />
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <button type="submit" class="btn btn-primary">爬取</button>
<!--            <a type="button" id="show_content" class="btn btn-primary">显示结果</a>-->

        </form>
        <div>
            <table class="table table-striped table-sm">
                <thead>
                <tr>
                    <th>内容</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="content : ${contents}">

                    <td th:text="${content.content}"></td>

                </tr>
                </tbody>
            </table>
        </div>

    </div>



</body>
</html>